* { margin: 0; padding: 0; }
a { text-decoration: none; color: inherit; }

.playlist { width: 800px; padding: 30px 0; color: #000; background: #000 url('background.png') no-repeat scroll center center; }
.playlist > ol { width: 80%; margin: 0 auto; }
.playlist > ol > li { padding: 10px; }
.playlist > ol > li > a { display: block; overflow: hidden; }
.playlist > ol > li > a > .title { float: left; }
.playlist > ol > li > a > .duration { float: right; }
.playlist > ol > li > a > .dots { display: block; height: 1em; overflow: hidden; border-bottom: 1px dotted #000; }

.playlist .footer { margin: 15px; text-align: center; }
